<h2 align="center"> Logistic Regression </h2>

### Machine Learning - Stanford - Andrew Ng (Python Implementation)
---

### Load the Data and Libraries
---

In [6]:
import numpy as np
import pandas as pd
import seaborn as sns

In [7]:
import matplotlib.pyplot as plt
plt.style.use('ggplot')
plt.rcParams['figure.figsize']=(12,8)

In [12]:
data = pd.read_csv('ex2data1.txt', header = None)
X = data.iloc[: , :-1].values
y = data.iloc[:, :-1].values
data.head()

           0          1  2
0  34.623660  78.024693  0
1  30.286711  43.894998  0
2  35.847409  72.902198  0
3  60.182599  86.308552  1
4  79.032736  75.344376  1

In [13]:
data.info

<bound method DataFrame.info of             0          1  2
0   34.623660  78.024693  0
1   30.286711  43.894998  0
2   35.847409  72.902198  0
3   60.182599  86.308552  1
4   79.032736  75.344376  1
..        ...        ... ..
95  83.489163  48.380286  1
96  42.261701  87.103851  1
97  99.315009  68.775409  1
98  55.340018  64.931938  1
99  74.775893  89.529813  1

[100 rows x 3 columns]>

In [14]:
data.describe()

                0           1           2
count  100.000000  100.000000  100.000000
mean    65.644274   66.221998    0.600000
std     19.458222   18.582783    0.492366
min     30.058822   30.603263    0.000000
25%     50.919511   48.179205    0.000000
50%     67.032988   67.682381    1.000000
75%     80.212529   79.360605    1.000000
max     99.827858   98.869436    1.000000